#container {
  width: 75%;
  margin: 0 auto;
}

#cat-photos div {
  overflow: hidden;
  max-height: 90px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
img {
  max-width: 130px;
}
